@import "kouto-swiss"
html
body
  min-width 320px
table
  width 100%
  tr
    border-bottom 1px solid rgba(0,0,0,0.12)
  th
    text-align left
    padding-right 10px
  td
    padding 0 5px
    box-sizing border-box
  .description
    width 100%
    relative false
    .md-list-item-text
      absolute 0
      line-height 20px
      max-width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap